
p{
    display: flex;

}
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th {
    background: #ff6b35;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

h2 {
    text-align: center;
    margin-top: 40px;
}